#!/bin/bash
#export HAB_STUDIO_SUP='false'
export HAB_DOCKER_OPTS="-p 9631:9631"
export HAB_FEAT_INSTALL_HOOK='true'
export HAB_STUDIO_SECRET_AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
export HAB_STUDIO_SECRET_AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
